.wrapper {
  width: 100%;
  height: 100vh;
}
.aside-main-flex {
  display: flex;
}

aside {
  width: var(--aside-dimension);
  height: calc(100vh - 80px);
  overflow: hidden;
  /* DEBUG */
  background-color: lightgray;
}

main {
  width: 83%;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  /* DEBUG */
  background-color: lightblue;
}

footer {
  height: 80px;
  /* DEBUG */
  background-color: lightcoral;
}

/* MAIN */
main {
  position: relative;
}
#upgrade {
  position: fixed;
  top: 0;
  left: var(--aside-dimension);
  height: var(--upgrade-height);
  z-index: 999;
  /* DEBUG */
  background-color: rgb(155, 155, 155);
}

#main-nav {
  margin-top: var(--upgrade-height);
  /* DEBUG */
  height: 5.5vh;
  background-color: lightgoldenrodyellow;
}

#recently-played {
  /* DEBUG */
  height: 37vh;
  background-color: rgb(220, 255, 208);
}
#create-for-u {
  /* DEBUG */
  height: 32vh;
  background-color: rgb(148, 205, 255);
}
#popular-artist {
  /* DEBUG */
  height: 32vh;
  background-color: rgb(251, 255, 148);
}
